<!DOCTYPE html>
<html>
  <head>
    <title>Splash Page</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">BYU Start-Ups</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/signup">
                <span class="glyphicon glyphicon-user"></span>
                Sign Up</a>
            </li>
            <li>
              <a href="/login">
                <span class="glyphicon glyphicon-log-in"></span>
                Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="info-title">Description here </div>
            <div class="info-subtitle">Subdescription here</div>
          </div>
          <div class="col-md-8">
            <div class="hero-wrapper">
              <img class="hero-shot" src="photos/hero-shot-tester.png" alt="hero picture">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="midsection">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="midsection-title"> Title for midsection </div>
          </div>
        </div>
      </div>
    </div>

    <h1>This is the info page</h1>
    You can create an account
    <a href="/signup">here</a>
    Or you can sign in by going
    <a href="/login">here</a>
    Or click
    <a href="/profile">here</a>
    to go directly to my profile.
  </body>
</html>
