
<!DOCTYPE html>
<html ng-app='app' ng-controller='mainCtrl'>
  <head>
    <!-- include our dependency on angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="avatar/avatar.module.js"></script>
    <meta charset="utf-8">
    <title><% title %></title>
  </head>
  <avatar></avatar>
</html>