<!DOCTYPE html>
<html>
  <head>
  <title>Splash Page</title>
  <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>This is the info page</h1>
    You can create an account <a href="/signup">here</a>
    Or you can sign in by going <a href="/login">here</a>
    Or click <a href="/profile">here</a> to go directly to my profile.
  </body>
</html>
