<!DOCTYPE html>
<html>
  <head>
    <title>Splash Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="nav/nav.module.js"></script>
  </head>
  <body>
    <nav-bar loggedIn=<%= loggedIn %>></nav-bar>
    <div class="hero">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="info-title">Description here </div>
            <div class="info-subtitle">Subdescription here</div>
          </div>
          <div class="col-md-8">
            <div class="hero-wrapper">
              <img class="hero-shot" src="photos/hero-shot-tester.png" alt="hero picture">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="midsection">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="midsection-title"> Title for midsection </div>
          </div>
        </div>
      </div>
    </div>

    <h1>This is the info page</h1>
    You can create an account
    <a href="/signup">here</a>
    Or you can sign in by going
    <a href="/login">here</a>
    Or click
    <a href="/profile">here</a>
    to go directly to my profile.
  </body>
</html>
