<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="login/login.module.js"></script>
  </head>
  <body ng-app='loginApp' ng-controller='loginCtrl'>
    <login></login>
  </body>
</html>
